@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared style */

*{
  font-family: 'Work Sans', sans-serif;
}
.btn-primary{
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  background-color: #FF900E;
  padding: 20px 25px;
  cursor: pointer;
}
.text-light-gray{
  color: #727272;
}
.title{
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}


/* header styles */
header{
  background-color: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;
  
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
nav > ul{
  display: flex;
}
nav li{
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a{
  text-decoration: none;
  color: #424242;
}
nav li a:hover{
  background-color: lightpink;
  
}
/* banner styles */
.banner{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;

}
.banner-title{
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}

.banner, img{
  margin-top: 20px;
  width: 100%;
}
main{
  max-width: 1440px;
  margin: 70px auto;
  
  
}
.teams-container{
  display: flex;
  align-items: center;
  
}
.teams-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-img-container img{
  height: 250px;
  width: 250px;
}
.teamd-content{
  padding-left: 70px;
  padding-right: 70px;
}

.quick-list{
  font-weight: 500;
  color: #727272;
}
.of-our{
  font-weight: 700;
  color: #131313;
}
.features{
  font-weight: 700;
  color: #FF900E;
}
/* feature section styles  */
.feature-section{
  margin-top: 100px;
  display: flex;
}
.feature-content .card{
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-content .section-title{
  border-left: 5px solid #FF900E;
  padding-left: 20px;
  font-size: 2.5rem;
}
.ten-years-btn{
  border-radius: 8px;
  background: #FF900E;
  color: #FFF;
  padding: 20px;
  text-align: center;
  align-items: center;
  width: 170px;
  height: 80px;
  position: relative;
  bottom: 65px;
}
.feature-img img{
  height: 92%;
  width: 100%;
  margin-left: 90px;
}
.ten-years-btn .ten-title{
  font-size: 2.5rem;
  margin: 0;
  align-items: center;
}
.ten-years-btn p{
  margin-top: 0;
  align-items: center;
}
/* fact section  */
.card-container{
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}
.card-container .card{
  border-radius: 8px;
  border: 1px solid #FF900E;
  text-align: center;
  padding: 30px;
}
.card-container .card-stats{
  font-size: 2rem;
  color: #424242;
  margin-top: 5px;
}
.card-container .card-discription{
  font-weight: 600;
  font-size: 1.1rem;
  color: #727272;
  
}
.card-container .card img{
  height: 45px;
  width: 45px;
}
/* sponsors section  */
.sponsors{
  text-align: center;
}
.sponsors-img-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}
.sponsors-img-container img{
  width: 160px;
  height: 50px;
}



/* Responsive media quaries */
/* mobile device */
@media screen and (max-width: 576px) {
  header{
    padding: 20px;
  }
  nav,
  .teams-container,
  .card-container,
  .sponsors-img-container,
  .feature-section{
    flex-direction: column;
  }
  .feature-img img{
    width: 90%;
    margin-left: 0;
  }
  .teams-img-container{
    grid-template-columns: 1fr;
  }
  .teamd-content{
  padding-left: 20px;
  padding-right: 20px;
  }
  .card-container{
    gap: 20px;
  }
  .ten-years-btn{
    width: 140px;
  }
  .ten-years-btn .ten-title{
    font-size: 2rem;
  }

}

/* tablet device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  header{
    padding: 50px;
  }
  nav, .teams-container,
  .feature-section{
    flex-direction: column;
  }
}